In [1]:
#2.1 Number data type in python

int_num = 5
float_num = 5.0
complex_num = 5 + 1j

print(type(int_num))
print(type(float_num))
print(type(complex_num))

<class 'int'>
<class 'float'>
<class 'complex'>

In [11]:
#2.1.1 Number Operations

#addition
a = 10 + 14.3
print(a)

#substraction
b = 12 - 10.2
print(b)

#multiplication
c = 10 * 3.2
print(c)

#division
d = 10 / 3.0
print(d)

#modulus
e = 19 % 2
print(e)

#flooring
f = 10 // 3
print(f)

#exponent
g = 2 ** 3
print(g)

24.3
1.8000000000000007
32.0
3.3333333333333335
1
3
8

In [15]:
#2.2 String (str)

#create a string
s1 = 'this is string example 12'
s2 = "ahmad hariadi"
s3 = """
triple quotes allow us to
create a multiple line string
"""

print(type(s1))
print(type(s2))
print(type(s3))

<class 'str'>
<class 'str'>
<class 'str'>

In [21]:
#2.2.1 Escape Sequence

s = "she said \"wow you\'re amazing\""
print(s)

t = "i want to write \ "
print(t)

v = "i want to write \\ "
print(s)

w = "string one\nstring two"
print(w)

she said "wow you're amazing"
i want to write \
she said "wow you're amazing"
string one
string two

In [22]:
#2.2.2 Raw String

#syntax error
# path= "C:\User\Guest\Documents\thisisafile.py"
# print(path)

#syntax error
# path= r"C:\User\Guest\Documents\thisisafile.py"
# print(path)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3234046224.py, line 3)

In [29]:
#2.2.3 Access Character in a String

s = "this is a string"

#   0 1 2 3 4 5 6 7 8 9...
#   t h i s   i s   a

# print the first character
print(s[0])

# print the fifth character
print(s[4])

# print the last character
print(s[-1])

# print the sub string from a string
print(s[10:16])

# trying to reach the out of index
# print(s[17])

# print all char between 0-10 index every 2 char
# the index 
print(s[0:10:2])

t

g
string
ti sa

In [2]:
#2.2.4 String Operations

# + operator
a = "hello"
b = "world"
print(a + b)

# * operator
a = "hello"
b = 2
print(a * b)

helloworld
hellohello

In [9]:
#2.2.5 Common Python String methods

#lowercase all char in a string
"UPPeRTolOweR".lower()

#uppercase all char in a string
"loweRToUppER".upper()

#join a list by a joining separator
a = " ".join(["join", "this", "string"])
b = "&".join(["join", "this", "string"])
print(a)
print(b)

#split a string by every matching separator char
a = "split this string".split(" ")
b = "split this string".split("s")
print(a)
print(b)

#find the first matching character's index
"this is a string".find("is")

#replace j with bl
"jack and jue".replace("j", "bl")

join this string
join&this&string
['split', 'this', 'string']
['', 'plit thi', ' ', 'tring']

'black and blue'

In [11]:
#2.2.6 String Formating

#formating 1
name = "john doe"
"My name is %s, I am %d years old"%(name, 20)

#formating 2: use format(param, param,..) method to change {} tag with a value in the format param
"My name is {}, I am {} years old".format(name, 20)

'My name is john doe, I am 20 years old'

In [16]:
#2.3 List

#create a list
l = [10, 12.4, "abc", True]
print(l)

#accessing the value pf list by index
print(l[1])

# able to call the minus integer
print(l[-1])

# slicing index to get the sub list
print(l[2:4])

# get the sub list every 2 value
print(l[0:4:2])

# you can reverse the list easily
print(l[::-1])

#trying to reach out of index
# print(l[99])

#access the specific value and changed the value
l[1] = "changed"
print(l)

[10, 12.4, 'abc', True]
12.4
True
['abc', True]
[10, 'abc']
[True, 'abc', 12.4, 10]
[10, 'changed', 'abc', True]

In [18]:
#2.3.1 List Operator

a = [1, "two", 3]
b = [3, 5, "six"]
print(a + b)
print(a * 3)

[1, 'two', 3, 3, 5, 'six']
[1, 'two', 3, 1, 'two', 3, 1, 'two', 3]

In [31]:
#2.3.2 List Methods

myList = [4,5,2,3,6,7,1,1]
list1 = [1, "two", 3]
list2 = [3, 5, "six"]

#appends an element to the end of the list.
list1.append("append")
print(list1)

#remove one or more matching objects
list1.remove("two")
print(list1)

#insert to the defined index
list1.insert(2, "insert")
print(list1)

#remove the last item and return the removed item
print(list1.pop())
print(list1)

#reverse the elements of list
list1.reverse()
print(list1)

#sort the list ordered ascending by default
myList.sort()
print(myList)

#concat two list
list1.extend(list2)
print(list1)

[1, 'two', 3, 'append']
[1, 3, 'append']
[1, 3, 'insert', 'append']
append
[1, 3, 'insert']
['insert', 3, 1]
[1, 1, 2, 3, 4, 5, 6, 7]
['insert', 3, 1, 3, 5, 'six']

In [34]:
#2.3.3 Nested List

nested = [
    [1,2,3,4],
    [2,5,4,3,6,2],
    [2,3,5,2]
]

print(nested)
print(nested[0])
print(nested[0][3])

[[1, 2, 3, 4], [2, 5, 4, 3, 6, 2], [2, 3, 5, 2]]
[1, 2, 3, 4]
4

In [37]:
#2.4 Tuple

example1 = ("a")
example2 = ("a", "b")

print(type(example1))
print(type(example2))

example3 = (1,2,3,3,6,4, "value")
print(example3[0])
print(example3[3:6])

<class 'str'>
<class 'tuple'>
1
(3, 6, 4)

In [43]:
#2.5 Distionaries

user1 = {
    "name": "Ahmad Hariadi",
    "age": 22,
    "address": "Tangerang"
}

print(type(user1))
print(user1)

#using call the key
print(user1["name"])

#using get method
user1.get("age")

#change value of dictionary
user1["name"] = "Arthea Alitta Yona Fisca"
print(user1["name"])

<class 'dict'>
{'name': 'Ahmad Hariadi', 'age': 22, 'address': 'Tangerang'}
Ahmad Hariadi
Arthea Alitta Yona Fisca

In [47]:
#2.6 Set

Set = {"Python", "PHP", "Java"}
#Set not allowed duplicate values
Set2 = set(["Python", "PHP", "Java", "PHP"])
print(Set)
print(Set2)

#use add method
Set.add("C#")
print(Set)

{'PHP', 'Java', 'Python'}
{'PHP', 'Java', 'Python'}
{'PHP', 'Java', 'C#', 'Python'}

In [53]:
#2.7 Boolean

a = 10
if (a == 10):
    print("yes a is 10")
print(a == 10)

Set = {7, 10, 12, 23, 26}
print(a in Set)

yes a is 10
True
True